form{
    border: 2px solid grey;
    border-radius: 5px;
    box-shadow: 3px 3px 6px 6px;
    width: 550px;
    height: 250px;
    margin-left: 30%;
    margin-top: 8%;
    padding: 30px;

}
input{
    font-size: 30px;
}
.author{
    display: flex;
    gap: 10px;
}
.author input{
    width: 250px;
}